@tailwind base;
@tailwind components;
@tailwind utilities;

/* html.light {
    --color-primary: #22c55e;
    --color-secondary: #111827;
    --color-default: #71717a;
    --color-inactive: #9ca3af;
    --color-background: #ffffff;
    --color-light-hover: #e4e4e7;
    --color-very-light-hover: #f4f4f5;
    --color-light-border: #e5e7eb;
}

html.dark {
    --color-primary: #6ee7b7;
    --color-secondary: #78716c;
    --color-default: #8b9bb1;
    --color-inactive: #4b5563;
    --color-background: #0f0f0f;
    --color-light-hover: #1e293b;
    --color-very-light-hover: #111827;
    --color-light-border: #374151;
} */

/* html.light {
    --color-primary: 34, 197, 94;
    --color-secondary: 17, 24, 39;
    --color-default: 113, 113, 122;
    --color-inactive: 156, 163, 175;
    --color-background: 255, 255, 255;
    --color-light-hover: 228, 228, 231;
    --color-very-light-hover: 244, 244, 245;
    --color-light-border: 229, 231, 235;
}

html.dark {
    --color-primary: 110, 231, 183;
    --color-secondary: 120, 113, 108;
    --color-default: 139, 155, 177;
    --color-inactive: 75, 85, 99;
    --color-background: 15, 15, 15;
    --color-light-hover: 30, 41, 59;
    --color-very-light-hover: 17, 24, 39;
    --color-light-border: 55, 65, 81;
} */

html.light {
    --color-primary: 142 71% 45%;
    --color-secondary: 221 39% 11%;
    --color-default: 240 4% 46%;
    --color-inactive: 218 11% 65%;
    --color-background: 0 0% 100%;
    --color-light-hover: 240 6% 90%;
    --color-very-light-hover: 240 5% 96%;
    --color-light-border: 220 13% 91%;
}

html.dark {
    --color-primary: 156 72% 67%;
    --color-secondary: 25 5% 45%;
    --color-default: 215 20% 62%;
    --color-inactive: 215 14% 34%;
    --color-background: 0 0% 6%;
    --color-light-hover: 217 33% 17%;
    --color-very-light-hover: 221 39% 11%;
    --color-light-border: 217 19% 27%;
}

@layer utilities {
    .animate-gradient-slow {
        animation: gradient-xy 22s ease-in-out infinite;
        background-size: 200% 200%;
    }
}

.test-gradient {
    background: linear-gradient(270deg, #ff0000, #0000ff);
    background-size: 400% 400%;
    animation: gradient-xy 14s ease infinite;
}