@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
    --color-primary: #22c55e;
    --color-secondary: #111827;
    --color-default: #71717a;
    --color-inactive: #9ca3af;
    --color-background: #ffffff;
    --color-light-hover: #e4e4e7;
    --color-very-light-hover: #f4f4f5;
    --color-light-border: #e5e7eb;
}

html.dark {
    --color-primary: #6ee7b7;
    --color-secondary: #78716c;
    --color-default: #8b9bb1;
    --color-inactive: #4b5563;
    --color-background: #0f0f0f;
    --color-light-hover: #1e293b;
    --color-very-light-hover: #111827;
    --color-light-border: #374151;
}

@layer utilities {
    .animate-gradient-slow {
        animation: gradient-xy 22s ease-in-out infinite;
        background-size: 200% 200%;
    }
}

.test-gradient {
    background: linear-gradient(270deg, #ff0000, #0000ff);
    background-size: 400% 400%;
    animation: gradient-xy 14s ease infinite;
}