@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
    --color-primary: 142 71% 45%;
    --color-secondary: 221 39% 11%;
    --color-default: 240 4% 46%;
    --color-inactive: 218 11% 65%;
    --color-background: 0 0% 100%;
    --color-light-hover: 240 6% 90%;
    --color-very-light-hover: 240 5% 96%;
    --color-light-border: 220 13% 91%;
}

html.dark {
    --color-primary: 156 72% 67%;
    --color-secondary: 25 5% 45%;
    --color-default: 215 20% 62%;
    --color-inactive: 215 14% 34%;
    --color-background: 0 0% 6%;
    --color-light-hover: 217 33% 17%;
    --color-very-light-hover: 221 39% 11%;
    --color-light-border: 217 19% 27%;
}

@layer utilities {
    .animate-gradient-slow {
        animation: gradient-xy 22s ease-in-out infinite;
        background-size: 200% 200%;
    }
}

.test-gradient {
    background: linear-gradient(270deg, #ff0000, #0000ff);
    background-size: 400% 400%;
    animation: gradient-xy 14s ease infinite;
}